<!-- <div class="container" style="margin-top:30px; height: 60%; display:block;overflow:scroll;"> -->
<div>


  <div id="chatContainer">
    <table>
      <tr>
        <td> Your Name: </td>
        <td> <input type="text" [(ngModel)]="userName"></td>
      </tr>
      <tr>
        <td>
          Your Message:
        </td>
        <td>
          <input type="text" [(ngModel)]="messageText" />
        </td>
        <td>
          <button (click)="sendMessage()">Send</button>
        </td>
      </tr>
    </table>

    <!-- <audio [src]=myMp3FileName controls>Play</audio> -->
    <div class="container" *ngFor="let item of messages.slice().reverse() ">
      <p>From: {{item.userName}}</p>
      <div>
        <h3>{{item.msg}}</h3>
      </div>
      <span class="time-right">{{item.timeStamp}}</span>
    </div>
  </div>
</div>
<div class="jumbotron text-center">
  <button>Listen to your Message</button><br>
  <audio [src]=myMp3FileName controls>Play</audio>
</div>
<!--  
<input [(ngModel)]=" messageText" />



<div id="chatContainer">
  <div style="height:400px; overflow-y:auto;">

  </div>

  <textarea id="HaveYourSay"></textarea>
  <button onclick="SendChat()">Send</button>
</div> -->